*{
    margin: 0;
    padding: 0;
}
.fl{
    float: left;
}
.playerConatiner{
    border-top: 4px solid #c4c4c7;
    height: 80px;
    background: #2c2c2c;
    font-size: 12px;
}
.playerContent{
    width: 857px;
    margin:14px auto 0px;
}
.playerContent .playerImgBox{
    float: left;
}
.playerContent .playerImgBox img{
    width: 50px;
    height: 50px;
}
.playerConatiner .doBox{
    margin-top: 6px;
    overflow: hidden;
    float: left;
} 
.playerConatiner .doBox .prev{
    background: url(images/player.png) 0 -1px no-repeat;
    width: 16px;
    height: 16px;
    float: left;
    margin-left: 21px;
    margin-top: 10px;
    cursor: pointer;
}
.playerConatiner .doBox .playBtn{
    background: url(images/player.png) 0 -28px no-repeat;
    width: 38px;
    height: 38px;
    float: left;
    margin-left: 18px;
    cursor: pointer;
}
.playerConatiner .doBox .next{
    background: url(images/player.png)0 -75px no-repeat;
    width: 16px;
    height: 16px;
    float: left;
    margin-left: 18px;
    margin-top: 10px;
    cursor: pointer;
}
.playerConatiner .textBox{
    margin-left: 20px;
    width: 500px;
    float: left;
}
.playerConatiner .textBox .title{
    color:#fff;
}
.playerConatiner .textBox .author{
    margin-top: 8px;
}
.playerConatiner .textBox .name{
     color:#bd84ef;
     float: left;
}
.playerConatiner .textBox .timeAll{
    float: right;
    color:#fff;
}
.playerConatiner .textBox .timeNow{
    color:#bd84ef;
    float: right;
}
.playerConatiner .textBox .playRole{
    display: inline-block;
    margin-top: 9px;
    width: 100%;
    background: #515050;
    height: 4px;
    border-radius: 3px;
}
.playerConatiner .textBox .playRole span{
    background:#bd84ef;
    position: relative;
    width: 0px;
    height: 4px;
    float: left;
    border-radius: 3px;
    /* transition:all 1s ease; */
}
.playerConatiner .textBox .playRole span em{
    position: absolute;
    top: -4px;
    right: -12px;
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
}
.playerConatiner .soundBox{
    float: left;
    margin-top: 19px;
    margin-left: 25px;
}
.playerConatiner .soundBox .soundIcon{
    background: url(images/player.png ) 0px -104px no-repeat;
    float: left;
    width: 25px;
    height: 25px;
}
.playerConatiner .soundBox .soundRole{
    float: left;
    margin-left: 10px;
    position: relative;
    width: 100px;
    height: 2px;
    background: #515050;
    top: 10px;
}
.playerConatiner .soundBox .hasSound{
    float: left;
    width: 40%;
    background: #fff;
    height: 2px;
    position: relative;

}
.playerConatiner .soundBox  .hasSound em{
    position: absolute;
    right: 0px;
    top: -2px;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    display: inline-block;
    background: #fff;
}
.playerConatiner .soundBox.playerConatiner .soundBox
.playerConatiner .soundBox
