@import '~assets/css/icon';
@import '~assets/css/mixin';
.recommend-icon{
  background: url(http://s.jihai8.com/pc/images/sprite-recommend.png) no-repeat ;
  display: inline-block;
}
.icon-next{
  display: inline-block;
  width: 17px;
  height: 19px;
  background-position:-86px -408px;
}
.icon-next-no{
  display: inline-block;
  width: 17px;
  height: 19px;
  background-position:-66px -408px;
}
.icon-prev{
  display: inline-block;
  width: 17px;
  height: 19px;
  background-position: -47px -408px;
}
.icon-prev-no{
  display: inline-block;
  width: 17px;
  height: 19px;
  background-position:-27px -408px;
}
.icon-level3{
  display: inline-block;
  width: 18px;
  height: 20px;
  background-position:-24px -51px;
}
.icon-level2{
  display: inline-block;
  width: 18px;
  height: 20px;
  background-position:-24px -80px;
}
.icon-level1{
  display: inline-block;
  width: 18px;
  height: 20px;
  background-position:-24px -107px;
}
.icon-v{
  width: 18px;
  height: 15px;
  background-position:-24px -140px; 
}
.series-num {
  display: inline-block;
  font-size: 22px;
  font-family: Tahoma;
  font-style: italic;
  font-weight: bold;
  color: #ff3333;
  margin-right: 1px;
}
.hong {
  width: 39px;
  height: 15px;
  background: url(https://s.jihai8.com/pc/images/hong.png?v=1) no-repeat;
  background-size: 39px 15px;
  display: inline-block;
}
.hei {
  width: 39px;
  height: 15px;
  background: url(https://s.jihai8.com/pc/images/hei.png?v=2) no-repeat;
  background-size: 39px 15px;
  display: inline-block;
}
.icon-red{
  width: 43px;
  height: 14px;
  background-position:-24px -23px; 
  color: #fff;
  position: relative;
  b{
    position: absolute;
    left: 2px;
    top: -5px;
    transform: skew(-12deg) scale(0.8);
    -webkit-transform: skew(-12deg) scale(0.8);
    text-align: center;
    width: 17px;
    display: inline-block;
  }
}
.icon-black{
  width: 43px;
  height: 14px;
  background:url('https://s.jihai8.com/h5/image/article/event_black_2@2x.png') center center no-repeat;
  background-size: 100%;
  position: relative;
  top: 2px;
  b{
    position: absolute;
    left: 2px;
    top: -4px;
    transform: skew(-12deg) scale(0.8);
    -webkit-transform: skew(-12deg) scale(0.8);
    text-align: center;
    width: 17px;
    display: inline-block;
  }

}
.icon-change{
  width: 18px;
  height: 15px;
  background-position:-24px -382px;
}
.match-recommend-porle{
	width: 1000px;
	margin: 0 auto;
  padding-bottom: 30px;
	.porlet{
    margin-top: 10px;
    .hd {
      background-color: #2154af;
      height: 36px;
      line-height: 36px;
      padding: 0 10px 0 20px;
      overflow: hidden;
      h3 {
        font-size: 16px;
        font-weight: 500;
        color: #fff;
      }
    }
	  .bd {
	    background-color: #fff;
	    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
	    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
	  }
  }
  .left-container{
  	width: 710px;
  	.porlet{
      .follow-title{
        border: 1px solid #EDEDED;
        height: 40px;
        em{
          display: inline-block;
          height: 16px;
          border-left: 3px solid #2054AE;
          margin-left: 30px;
          position: relative;
          top: 3px;
          margin-right: 3px;
        }
        span{
          display: inline-block;
          height: 40px;
          line-height: 40px;
          font-size: 14px;
        }
      }
  		.load-more{
  			text-align: center;
  			span{
		      color:#999999;
		      display: inline-block;
		      margin-bottom: 25px;
		      margin-top: 10px;
		      cursor: pointer;
  			}
	    }
  	}
  }
  .right-container{
    width: 280px;
    .follow-title{
      border: 1px solid #EDEDED;
      height: 40px;
      .like_box{
        display: inline-block;
        cursor: pointer;
      }
      .chang-like{
        height: 40px;
        line-height: 40px;
        margin-right: 10px;
      }
      .icon-change{
        position: relative;
        top: 12px;
        margin-right: 5px;
      }
      em{
        display: inline-block;
        height: 16px;
        border-left: 3px solid #2054AE;
        margin-left: 10px;
        position: relative;
        top: 3px;
        margin-right: 3px;
      }
      .guess-title{
        display: inline-block;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
      }
    }
    .followed-author-ul{
      padding-left: 12px;
      padding-right: 12px;
      li{
        padding-top: 12px;
        padding-bottom: 10px;
        border-top: 1px solid #EDEDED;
        &:first-child{
          border:none;
        }
        .order-box{
          float: left;
          margin-right: 8px;
          span{
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background:#E0E0E0;
            color: #7D7D7D;
            display: inline-block;
            text-align: center;
            line-height: 14px;
            margin-top: 18px;
          }
        }
        .head-img-box{
          position: relative;
          float: left;
          &:hover{
            transform: scale(1.2);
            -webkit-transform: scale(1.2)
          }
          .head-img{
            float: left;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
            border: 1px solid #f2f2f2;
            img{
              width: 100%;
            }
          }
          .recommend-icon{
            position: absolute;
            right: 1px;
            bottom: 3px;
          }
          .onsell-num{
            position: absolute;
            right: 2px;
            top:1px;
            width: 15px;
            height: 15px;
            line-height: 16px;
            text-align: center;
            background:#FF3333;
            color:#fff;
            border-radius: 50%;
          }
        }
        .info-box{
          font-size: 14px;
          margin-left: 7px;
          .name{
            text-align: left;
            max-width: 75px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-right: 2px;
            position: relative;
            top: -3px;
          }
          .icon-v{
            margin-top: 2px;
          }
          .icon-red{
            margin-top: 3px;
          }
          .tags{
            margin-top: 2px;
            span{
              display: inline-block;
              height:18px;
              line-height: 17px;
              border:1px solid rgba(32, 84, 174, 1);
              border-radius:9px;
              padding: 0px 5px;
              font-size:12px;
              color: #2054AE;
            }
          }
          .fans-num{
            color: #666666;
            margin-top: 6px;
            max-width: 136px;
            .final_title{
              display: inline-block;
              color: #666666;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              max-width: 136px;
              font-size: 12px;
            }
          }
        }
        .follow-btn{
          float: right;
          background:#2054AE;
          width: 52px;
          height: 30px;
          text-align: center;
          color: #fff;
          border-radius: 15px;
          margin-top: 8px;
          cursor:pointer;
          span{
            display: inline-block;
            font-size: 18px;
            height: 30px;
            line-height: 30px;
            position: relative;
            top: -2px;
          }
          em{
            display: inline-block;
            height: 30px;
            line-height: 30px;
            position: relative;
            top: -2px;
          }
          &.follow-btn-already{
            background:#fff;
            color: #2054AE;
            border: 1px solid #2054AE;
            em{
              position: relative;
              top: -1px;
            }
          }
          &:hover{
            opacity: 0.9;
          }
        }
      }
    }
    .go-page{
      padding-bottom: 8px;
      padding-right: 10px;
      em{
       margin-left:20px;
       &.icon-next,&.icon-prev{
         cursor: pointer;
       } 
      }
    }
    .guess_like{
      margin-top: 10px;
    }
  }

}
.follow-article-container{
  padding-top: 5px;
  background:#fff;
  padding-bottom: 15px;
  .tab-title{
    display: inline-block;
    font-size: 14px;
    border-left: 3px solid #2054AE;
    height: 14px;
    line-height: 14px;
    text-indent:5px;
    text-align: left;
    width: 651px;
  }
  ul.news-ul{
    li.match-li{
      width: 651px;
      margin: 0 auto;
      border-top: 1px solid #EDEDED;
      padding-top: 15px;
      position: relative;
      .author-info{
        .head-img-box{
          position: relative;
          float: left;

          &:hover{
            transform: scale(1.2);
            -webkit-transform: scale(1.2)
          }
          &:hover{
            transform: scale(1.2);
            -webkit-transform: scale(1.2)
          }
          .head-img{
            float: left;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
            img{
              width: 100%;
            }
          }
          .recommend-icon{
            position: absolute;
            right: 1px;
            bottom: 3px;
          }
          .onsell-num{
            position: absolute;
            right: 2px;
            top:1px;
            width: 15px;
            height: 15px;
            line-height: 16px;
            text-align: center;
            background:#FF3333;
            color:#fff;
            border-radius: 50%;
          }

        }
        .back-rate-box{
          color:#FF3333;
          position: absolute;
          top: 10px;
          right: 10px;
          .rate-num{
            font-size:32px;
            font-weight:600;
            font-family:verdana;
          }
          .text{
            margin-top: -6px;
          }
        }
        .match-result{
          position: absolute;
          top: 5px;
          right: 10px;
          transform: scale(0.8);
          -webkit-transform: scale(0.8);
          -moz-transform: scale(0.8);
          -o-transform: scale(0.8);
          div{
            display: inline-block;
            background: url(https://s.jihai8.com/pc/images/sprite-new.png) no-repeat;
            width: 66px;
            height: 66px;
            &.black {
              background-position: -1px -76px;
            }
            &.red {
              background-position: -211px 0;
            }
            &.hit {
              background-position: -139px 0;
            }
            &.not {
              background-position: -70px 0;
            }
            &.run {
              background-position: -1px 0;
            }
          }
        }
      }
      .article-info{
        background:#F6F6F6;
        margin-top: 12px;
        height: 60px;
        &:hover{
          background:#e7f0fe;
        }
        .article-info-details{
          margin-top: 8px;
          margin-left: 10px;
          p{
            text-align:left;
          }
          span{
            margin-right: 8px;
            &.time{
              color:#999999
            }
          }
          .team-vs{
            font-size:16px;
            font-weight: 600;
            text-align: left;
            margin-top: 3px;
          }
        }

        .article-title{
          float: left;
          height: 60px;
          line-height: 60px;
          color: #333333;
          font-size: 18px;
          margin-left: 12px;
          width: 500px;
          text-align: left;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          &:hover{
            color:#2054ae;
          }
        }
        .pay-info{
          border:1px solid #2054AE;
          margin-right: 11px;
          width: 56px;
          height: 34px;
          border-radius:4px;
          margin-top: 13px;
          overflow: hidden;
          span{
            height: 17px;
            line-height: 17px;
            text-align: center;
            display: inline-block;
            width: 100%;
            color: #2054AE;
            position: relative;
            top: -1px;
            &.pay-money{
              background:#2054AE;
              color: #fff;
            }
            &.free-span{
              background:rgba(32,84,174,0);
              height: 34px;
              line-height: 34px;
              font-size: 16px;    

            }
          }
        }
      }
      .other-info{
        margin-top: 7px;
        margin-bottom: 4px;
        span{
          height: 25px;
          line-height: 25px;
          color: #999999;
          display: inline-block;
        }
        .time{
          float: left;
          margin-right: 10px;
          margin-left: 10px;
        }
        .play-way-football{
          color: #2054AE;
          float: left;
          margin-left: 5px;
        }
        .play-type{
          color: #2054AE;
          float: left;
          margin-left: 21px;
        }
        .buy-head-img{
          float: right;
          span{
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            overflow: hidden;
            img{
              width: 100%;
            }
          }
        }
        .buy-num{
          margin-left: 21px;
        }
        .read-num{
          margin-left: 15px;
        }
      }
      &:first-child{
        border:none;
      }
    }
    li.news-li{
      width: 651px;
      margin: 0 auto;
      border-top: 1px solid #EDEDED;
      padding-top: 10px;
      padding-bottom: 12px;
      &:last-child{
        border: none;
      }
      &.one-img{
        .img-box{
          float: left;
          width: 140px;
          height: 109px;
          margin-right: 19px;
          img{
            width: 100%;
            max-height: 100%;
          }
        }
        .article-info-box{
          float:left;
          width: 75%;
          p{
            font-size: 20px;
            height: 89px;
            text-align: left;
            margin-top: -3px;
          }
          .type{
            color: #2054AE;
            margin-right: 19px;
          }
          .read-num{
            color: #999999;
          }
          .time{
            color: #999999;
          }
        }
      }
      &.three-img,&.no-img{
        p{
          font-size: 20px;
          text-align: left;
          position: relative;
          top: -5px;
        }
        .img-box{
          margin-top: 5px;
          margin-bottom: 5px;
          img{
            width: 204px;
            max-height: 160px;
            margin-right: 15px;
            display: inline-block;
            &:last-child{
              margin-right: 0;
            }
          }
        }
        .article-info-box{
          margin-top: 6px;
          float:left;
          .type{
            color: #2054AE;
            margin-right: 19px;
          }
          .read-num{
            color: #999999;
          }
          .time{
            color: #999999;
          }
        }
      }
    }
    li:first-child{
      border:none;
    }
  }
  .noData{
    display: block;
    height: 200px;
    width: 200px;
    line-height: 30px;
    background:url('http://s.jihai8.com/pc/images/icon-no-data.png') no-repeat;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .noDataText{
    display: inline-block;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    color:#999999;
    font-size: 14px;
    width: 100%;
  }
  .load-more{
    color:#999999;
    display: block;
    padding-top: 10px;
  }
}
.no-login-follow{
  margin-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  color:#999999;
  font-size: 14px;
  span{
    color: #2054AE;
    cursor:pointer;
  }

}
//即嗨号tab导航样式
.match-recommend{
  .fixedUl{
    position: fixed;
    top: 0px;
    width: 710px;
    z-index: 9;
  }
  .match-recommend-ul{
    padding: 0 1px;
    background:#2054AE; 
    height: 36px; 
    li{
      font-size: 0px;
      display: inline-block;
      text-align: center;
      a{
        float: left;
        position: relative;
        height: 36px;
        line-height: 36px;
        color: #BFD3F4;
        font-size: 14px;
        cursor: pointer;
        margin: 0 10px;
        width: 50px;
        &:after{
          transition: .3s;
          -webkit-transition: .3s;
          -moz-transition: .3s;
          -o-transition: .3s;
          content: '';
          width: 0;
          position: absolute;
          bottom: 0px;
          left: 50%;
          transform:translate(-50%);
          -webkit-transform:translate(-50%);
          -moz-transform:translate(-50%);
          -o-transform:translate(-50%);
          border-bottom: 2px solid #fff;
        }
        &.active,&:hover {
          color: #fff;
          font-size: 14px;
          &:after{
            width: 100%;
          }
          &:before {
            left: 0;
          }
        }
      }
    }
  }
}
//文章列表样式
// .push-article-container{
//   padding-top: 5px;
//   background:#fff;
//   padding-bottom: 15px;
//   .tab-title{
//     display: inline-block;
//     font-size: 14px;
//     border-left: 3px solid #2054AE;
//     height: 14px;
//     line-height: 14px;
//     text-indent:5px;
//     text-align: left;
//     width: 651px;
//   }
//   ul{
//     li{
//       width: 651px;
//       margin: 0 auto;
//       border-top: 1px solid #EDEDED;
//       padding-top: 21px;
//       position: relative;
//       .author-info{
//         .head-img-box{
//           position: relative;
//           float: left;
//           &:hover{
//               transform: scale(1.2);
//               -webkit-transform: scale(1.2);
//           }
//           .head-img{
//             float: left;
//             width: 50px;
//             height: 50px;
//             border-radius: 50%;
//             overflow: hidden;
//             img{
//               width: 50px;
//             }
//           }
//           .recommend-icon{
//             position: absolute;
//             right: 1px;
//             bottom: 3px;
//           }
//           .onsell-num{
//             position: absolute;
//             right: 2px;
//             top:1px;
//             width: 15px;
//             height: 15px;
//             line-height: 16px;
//             text-align: center;
//             background:#FF3333;
//             color:#fff;
//             border-radius: 50%;
//           }

//         }
//         .back-rate-box{
//           color:#FF3333;
//           position: absolute;
//           top: 10px;
//           right: 10px;
//           .rate-num{
//             font-size:32px;
//             font-weight:600;
//             font-family:verdana;
//           }
//           .text{
//             margin-top: -6px;
//           }
//         }
//         .match-result{
//           position: absolute;
//           top: 5px;
//           right: 10px;
//           transform: scale(0.8);
//           -webkit-transform: scale(0.8);
//           -moz-transform: scale(0.8);
//           -o-transform: scale(0.8);
//           div{
//             display: inline-block;
//             background: url(https://s.jihai8.com/pc/images/sprite-new.png) no-repeat;
//             width: 66px;
//             height: 66px;
//             &.black {
//               background-position: -1px -76px;
//             }
//             &.red {
//               background-position: -211px 0;
//             }
//             &.hit {
//               background-position: -139px 0;
//             }
//             &.not {
//               background-position: -70px 0;
//             }
//             &.run {
//               background-position: -1px 0;
//             }
//           }
//         }
//       }
//       .article-info{
//         background:#F6F6F6;
//         margin-top: 12px;
//         height: 60px;
//         &:hover{
//           background:#e7f0fe;
//         }
//         .article-info-details{
//           margin-top: 8px;
//           margin-left: 10px;
//           p{
//             text-align:left;
//           }
//           span{
//             margin-right: 8px;
//             &.time{
//               color:#999999
//             }
//           }
//           .team-vs{
//             font-size:16px;
//             font-weight: 600;
//             text-align: left;
//             margin-top: 3px;
//           }
//         }

//         .article-title{
//           float: left;
//           height: 60px;
//           line-height: 60px;
//           color: #333333;
//           font-size: 18px;
//           margin-left: 12px;
//           width: 500px;
//           text-align: left;
//           overflow: hidden;
//           white-space: nowrap;
//           text-overflow: ellipsis;
//           &:hover{
//             color:#2054ae;
//           }
//         }
//         .pay-info{
//           border:1px solid #2054AE;
//           margin-right: 11px;
//           width: 56px;
//           height: 34px;
//           border-radius:4px;
//           margin-top: 13px;
//           overflow: hidden;
//           span{
//             height: 17px;
//             line-height: 17px;
//             text-align: center;
//             display: inline-block;
//             width: 100%;
//             color: #2054AE;
//             position: relative;
//             top: -1px;
//             &.pay-money{
//               background:#2054AE;
//               color: #fff;
//             }
//             &.free-span{
//               background:rgba(32,84,174,0);
//               height: 34px;
//               line-height: 34px;
//               font-size: 16px;    

//             }
//           }
//         }
//       }
//       .other-info{
//         margin-top: 7px;
//         margin-bottom: 4px;
//         span{
//           height: 20px;
//           line-height: 23px;
//           color: #999999;
//         }
//         .time{
//           float: left;
//           margin-right: 10px;
//           margin-left: 10px;
//         }
//         .play-way-football{
//           color: #2054AE;
//           float: left;
//           margin-left: 5px;
//         }
//         .play-type{
//           color: #2054AE;
//           float: left;
//           margin-left: 21px;
//         }
//         .buy-head-img{
//           float: right;
//           span{
//             display: inline-block;
//             width: 20px;
//             height: 20px;
//             border-radius: 50%;
//             overflow: hidden;
//             img{
//               width: 100%;
//             }
//           }
//         }
//         .buy-num{
//           margin-left: 21px;
//         }
//         .read-num{
//           margin-left: 15px;
//         }
//       }
//       &:first-child{
//         border:none;
//       }
//     }
//   }
//   .noData{
//     display: block;
//     height: 200px;
//     width: 200px;
//     line-height: 30px;
//     background:url('https://s.jihai8.com/pc/images/icon-no-data.png') no-repeat;
//     margin: 100px auto;
//   }
//   .load-more{
//     color:#999999;
//     display: block;
//     padding-top: 10px;
//   }
//   .b_color{
//     color: #FF6407 !important;
//     border-color: #FF6407 !important;
//   }
//   .f_color{
//     color: #2054AE !important;
//     border-color: #2054AE !important;
//   }
// }

//专题推荐列表样式
.topic-container{
  ul{
    li.one-img{
      padding: 16px;
      border-bottom: 1px solid #EDEDED;
      .h-box{
        position: relative;
      }
      .img-box{
        float: left;
        width: 140px;
        margin-right: 19px;
        img{
          width: 100%;
          height: 109px;
          display: block;
        }
      }
      .article-info-box{
        float:left;
        width: 75%;
        p{
          font-size: 20px;
          text-align: left;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .introduce{
          color: #999999;
          font-size: 12px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          overflow: hidden;
          margin-top: 5px;
        }
        .footer-info{
          position: absolute;
          bottom: -5px;
          width: 75%;
          .type{
            color: #2054AE;
            margin-right: 19px;
          }
          .read-num{
            color: #999999;
          }
          .time{
            color: #999999;
          }
        }
      }
    }
  }
}
